<div class="position-relative mt-5 mb-4 ">
        <div class="position-absolute top-0 start-50 translate-middle">
            <%= @h="Author : Shiboshree Roy                                            " %><br>
            <%= @m="Version: 1.0.1                                                      "%><br>
            <%= @e=" Program :Temporary Email Genaretor                                 "%>
        </div>
</div>